
/* Development Section */
.development-section {
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    max-width: 800px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  }
  
  .development-section h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Goals Section */
  .goals-section {
    margin-bottom: 30px;
  }
  
  .goals-section h3 {
    font-size: 1.5rem;
    text-decoration: underline;
    margin-bottom: 10px;
  }
  
  .goals-section ul {
    list-style-type: disc;
    margin-left: 20px;
    font-size: 1rem;
  }