.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: aliceblue;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 0.5rem;
}

.form-group{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin:20px 0;
}

.small-input{
    width:50%;
    max-width: 300px;
    padding: 8px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}



.text-center h2 {
    font-size: 2rem;
    margin-bottom: 30px;
    font-family: Arial, sans-serif; 
  }

  .horizontal-nav {
    display: flex; 
    justify-content: center; 
    gap: 20px;
    margin-top: 10px; 
  }
  
  .nav-link {
    text-decoration: none;
    font-size: 1.0rem;
    color: #333; 
    font-family: Arial, sans-serif; 
  }
  
  .nav-link:hover {
    color: #007BFF; /* Add hover effect */
    text-decoration: bold; /* Optional hover style */
  }